:root {
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

form > div {
  padding: 0.4rem;
}

form label {
  display: inline-block;
  width: 5rem;
}

input {
  width: 2rem;
}
